
    /* Navbar Section starts from here */
*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    background-color: rgb(73, 72, 72);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
.geek{
    height: 25px;
    width: 110px;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.list{
    margin-right: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.list:hover{
    color: black;
}

/* Banner Section starts from here */

.banner-container{
    height: 100vh;
    width: 100%;
    gap: 5px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"), linear-gradient(45deg, #000,#353333);
}
.banner-details{
    color: white;
}
.banner-title{
    font-size: 48px;
    margin-bottom: 10px;
}
.banner-p{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 600;
}
.btn:hover{
    background-color: green;
}
.bnr-photo{
    height: 250px;
    width: 300px;
}

/* About Us Section starts from here */
.about-container{
    padding: 30px;
    height: 400px;
}
.aboutus{
    font-size: 56px;
    text-align: center;
    padding-bottom: 20px;
}
.about{
    display: flex;
    justify-content: space-around;
}
.about-img{
    height: 300px;
    width: 300px;
    padding: 40px;
}
.about-info{
    padding: 40px;
}
.about-title{
    margin-bottom: 10px;
}
.about-p{
    margin-bottom: 10px;
    font-size: 18px;
}
.about-btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}
.about-btn:hover{
    background-color: green;
}

/* Our Service's Section starts from here */
.service-container{
    color: white;
    height: 450px;
    background-image: url("./images/background.png"), linear-gradient(45deg,#000, #302f2f);
    padding: 20px;
}
.service{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}
.service-cards{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
.card{
    background-color: black;
    border: none;
    border-radius: 10px;
    width: 280px;
    height: 280px;
    text-align: center;
    padding: 10px;
}
.img-icon{
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
.digital{
    padding: 15px 0px 5px;
    font-size: 24px;
}
.service-p{
    margin: 20px;
    font-size: 16px;
}
.service-btn{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.service-btn:hover{
    color: white;
    background-color: green;
}

/* Footer Section starts from here */
.foot{
    background-color: black;
    padding-bottom: 30px;
}
.footer-container{
    color: white;
    height: 600px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0px 150px;
}
.footer-one{
    width: 200px;
}
.footer-logo{
    width: 180px;
}
.footer-p{
    padding-top: 20px;
}
.footer-all{
    list-style: none;
    padding-top: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.space{
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: white;
}
.hr{
    width: 75%;
    margin: 0px auto;
    height: 1px;
    background-color: gray;
    border: none;
}
.copyright{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}