
    /* Navbar Section starts from here */
*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    background-color: rgb(73, 72, 72);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
.geek{
    height: 25px;
    width: 110px;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.list{
    margin-right: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.list:hover{
    color: black;
}

/* Banner Section starts from here */

.banner-container{
    height: 100vh;
    width: 100%;
    gap: 5px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"), linear-gradient(45deg, #000,#353333);
}
.banner-details{
    color: white;
}
.banner-title{
    font-size: 48px;
    margin-bottom: 10px;
}
.banner-p{
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
    font: bold;
}
.btn:hover{
    background-color: green;
}
.bnr-photo{
    height: 250px;
    width: 300px;
}

/* About Us Section starts from here */
.about-container{
    padding: 30px;
    height: 400px;
}
.aboutus{
    font-size: 56px;
    text-align: center;
    padding-bottom: 20px;
}
.about{
    display: flex;
    justify-content: space-around;
}
.about-img{
    height: 300px;
    width: 300px;
    padding: 40px;
}
.about-info{
    padding: 40px;
}
.about-title{
    margin-bottom: 10px;
}
.about-p{
    margin-bottom: 10px;
    font-size: 18px;
}
.about-btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.about-btn:hover{
    background-color: green;
}